@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: black;
  animation: fadeIn 2.5s linear forwards;
  margin-left: 50px;
  margin-right: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Style for heading 1 */
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
}

/* Style for heading 2 */
h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}

/* Style for heading 3 */
h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

/* Style for body text */
p {
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
}

@keyframes move-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}